@use '@/styles/tokens' as t;

.wrapper {
  padding: t.$space-md 0;
}

.inputWrapper {
  position: relative;
  width: 100%;
}

.clear {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  color: t.$color-text-primary;
  font-size: t.$font-size-xs;
  padding: t.$space-sm;
  cursor: pointer;

  &:hover {
    color: t.$color-text-primary;
  }
}

.meta {
  display: flex;
  justify-content: space-between;
  margin-top: t.$space-sm;
  font-size: t.$font-size-xs;
  color: t.$color-text-secondary;
  letter-spacing: 0.5px;
}
