@use '@/styles/mixins' as m;

.wrapper {
  padding: var(--space-md) 0;
}

.inputWrapper {
  position: relative;
  width: 100%;
}

.clear {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  color: var(--color-text-primary);
  font-size: var(--font-size-xs);
  padding: var(--space-sm);
  cursor: pointer;

  &:hover {
    color: var(--color-text-primary);
  }
}

.meta {
  @include m.flex-between;
  margin-top: var(--space-sm);
  font-size: var(--font-size-xs);
  color: var(--color-text-secondary);
  letter-spacing: var(--letter-spacing-sm);
  text-transform: uppercase;
}
