@use '@/styles/tokens' as t;
@use '@/styles/mixins' as m;

.footer {
  //TODO: REVISAR
  @include m.flex-column;
  justify-content: space-between;
  align-items: center;
  padding: t.$space-lg 0;
  margin-top: t.$space-xl;
  gap: t.$space-md;

  button {
    width: 50%;
    font-size: t.$font-size-sm;
    padding: t.$space-md 0;
    line-height: t.$space-md;
  }

  @include m.mobile {
    flex-wrap: wrap;
    flex-direction: row;

    .total {
      order: -1;
      width: 100%;
      justify-content: space-between;
      font-size: t.$font-size-md;
      color: t.$color-text-primary;
      font-weight: t.$font-weight-regular;
    }

    a {
      order: 0;
      flex: 1;
      width: 50%;
      button {
        width: 100%;
      }
    }

    button[id='cart-pay'] {
      order: 1;
      flex: 1;
    }
  }

  @include m.tablet {
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    gap: t.$space-3xl;
    .total {
      order: 0;
      width: 100%;
      justify-content: flex-end;
    }

    a {
      flex: none;
    }

    button {
      font-size: t.$font-size-sm;
      padding: t.$space-lg t.$space-2xl;
      line-height: t.$space-md;
      width: 260px;
    }

    button[id='cart-pay'] {
      flex: none;
    }
  }
}

.total {
  display: flex;
  align-items: center;
  gap: t.$space-sm;
}
