@use '@/styles/tokens' as t;

.input {
  width: 100%;
  border: none;
  border-bottom: t.$border-width solid t.$color-text-primary;
  padding: t.$space-sm 0;
  font-size: t.$font-size-md;
  font-weight: t.$font-weight-light;
  font-family: t.$font-family;
  line-height: 100%;
  background: transparent;
  outline: none;
  color: t.$color-text-primary;

  &::placeholder {
    color: t.$color-text-disabled;
  }

  &::-webkit-search-cancel-button {
    display: none;
  }

  &:disabled {
    color: t.$color-text-disabled;
    border-bottom-color: t.$color-text-disabled;
    cursor: not-allowed;
  }
}
