.cartLink {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
}

.cartIcon {
  color: var(--color-text-primary);
  height: var(--font-size-md);
  width: auto;
}

.cartCount {
  font-size: var(--font-size-md);
  color: var(--color-text-primary);
}
