@use '@/styles/mixins' as m;

.header {
  position: sticky;
  top: 0;
  z-index: var(--z-index-up);
  background-color: var(--color-background);
  height: var(--navbar-height);
}

.nav {
  @include m.container;
  @include m.flex-between;
  height: 100%;
}

.logo {
  color: var(--color-text-primary);
  height: var(--font-size-xl);
  width: auto;
}
