// Colors
$primitive-black: #000000;
$primitive-white: #ffffff;
$primitive-gray-100: #f3f2f2;
$primitive-gray-300: #cccccc;
$primitive-gray-500: #aaaaaa;

// Typography
$primitive-font-sans: Helvetica, Arial, sans-serif;
$primitive-size-xs: 10px;
$primitive-size-sm: 12px;
$primitive-size-md: 15px;
$primitive-size-lg: 20px;
$primitive-size-xl: 24px;

// Spacing
$primitive-space-1: 4px;
$primitive-space-2: 8px;
$primitive-space-4: 16px;
$primitive-space-6: 24px;
$primitive-space-8: 32px;
$primitive-space-10: 40px;
$primitive-space-25: 100px;
$primitive-space-50: 200px;

// Radius
$primitive-radius-none: 0px;

// Layout
$primitive-max-width: 1200px;
$primitive-navbar-height: 80px;
