.wrapper {
  margin-top: var(--space-2xl);
}

.title {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-light);
  letter-spacing: var(--letter-spacing-sm);
  margin-bottom: var(--space-md);
  text-transform: uppercase;
}
