@use '@/styles/mixins' as m;

.wrapper {
  display: flex;
  gap: var(--space-md);
  padding: var(--space-md) 0;
}

.imageWrapper {
  position: relative;
  width: 160px;
  height: 190px;
  flex-shrink: 0;

  @include m.desktop {
    width: 262px;
    height: 324px;
  }
}

.image {
  @include m.image-contain;
}

.data {
  @include m.flex-column-gap(var(--space-xl));
  justify-content: center;

  @include m.desktop {
    justify-content: space-between;
    padding: var(--space-3xl) 0;
  }
}

.info {
  @include m.flex-column-gap(var(--space-md));
  font-size: var(--font-size-xs);
  text-transform: uppercase;
}

.phone {
  @include m.flex-column-gap(var(--space-xs));
}

.removeButton {
  align-self: flex-start;
  font-size: var(--font-size-xs);
}
