@use '@/styles/mixins' as m;

.wrapper {
  @include m.container;
  @include m.flex-column;
  padding-top: var(--space-lg);
  padding-bottom: var(--space-2xl);
  gap: var(--space-lg);
  min-height: calc(100vh - var(--navbar-height));
}

.title {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-light);
  letter-spacing: var(--letter-spacing-none);
  text-transform: uppercase;
}

.list {
  flex: 1;
}
