@use '@/styles/mixins' as m;

.grid {
  display: grid;
  grid-template-columns: 1fr;
  padding-left: var(--border-width);
  padding-top: var(--border-width);

  @include m.tablet {
    grid-template-columns: repeat(2, 1fr);
  }

  @include m.desktop {
    grid-template-columns: repeat(5, 1fr);
  }

  &[data-variant='extended'] {
    @include m.tablet {
      grid-template-columns: repeat(2, 1fr);
    }

    @include m.desktop {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.item {
  display: flex;
  flex-direction: column;
  background-color: var(--color-background);
  border: var(--border-width) solid var(--color-border);
  margin-left: calc(-1 * var(--border-width));
  margin-top: calc(-1 * var(--border-width));
}
